<table style="margin: 0px auto;max-width:600px;padding-left: 15px;padding-right: 15px;">
  <tbody>
    <tr>
      <td>
        <p>Hi [[${name}]],<br></p>
        <div>
          <div>Your ticket has been assigned. Please find below details.</div>
          <br>
          <table border="1" cellspacing="0" width="100%">
            <tr>
              <td>Ticket Number</td>
              <td>[[${ticketNumber}]]</td>
            </tr>
            <tr>
              <td>Assigned To</td>
              <td>[[${assignedTo}]]</td>
            </tr>
            <tr>
              <td>Status</td>
              <td>[[${status}]]</td>
            </tr>
            <tr>
              <td>Priority</td>
              <td>[[${priority}]]</td>
            </tr>
          </table>
        </div>
        <p>Thanks, <br>Account Administrator</p>
      </td>
    </tr>
  </tbody>
</table>
