<table style="margin: 0px auto;max-width:600px;padding-left: 15px;padding-right: 15px;">
  <tbody>
    <tr>
      <td>
        <p>Hi [[${name}]],<br></p>
        <div>
          <div>Your account has been created. Click on below link to activate your account.</div>
          <br>
          <div align="center"><a th:href="@{${accountActivationLink}}" name="accountActivationLink">Activate Your Account</a></div>  
          <br>
          <div>Thank you for registering with us.</div>
          <br>
        </div>
        <p>Thanks, <br>Account Administrator</p>
      </td>
    </tr>
  </tbody>
</table>
